doctype html
html(lang="en")
   head
      meta(charset="UTF-8")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      style
         include ../css/reset.css
         include ../css/index.css
         include ../css/thank_you_page.css
      title Dear Moon - Thank You!
   body 
    header
      nav 
         ul
            li 
               a(href='index.html') HOME
            li
               a(href='about.html') ABOUT
            li
               a(href='blog.html') BLOG
            li
               a(href='contact.html') CONTACT
      div.header-background-pic
         h1 Dear Moon
      h2 Thank you for your message!
      img(src='../images/thank_you.jpg' alt='a thank you note with red tulips beside it')