doctype html
html(lang="en")
   head
      meta(charset="UTF-8")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      style
         include css/reset.css
         include css/index.css
         include css/thank_you_page.css
      title Dear Moon - Thank You!
   body 
      h2 Thank you!